extends layout

block content
  h1 #{action === 'create' ? 'Add New Fossil' : 'Edit Fossil'}

  form(action=action === 'create' ? '/resource/fossils' : '/resource/fossils/' + fossil._id, method='POST')
    div
      label(for='name') Name:
      input(type='text', name='name', value=fossil ? fossil.name : '')
    div
      label(for='age') Age:
      input(type='text', name='age', value=fossil ? fossil.age : '')
    div
      label(for='location') Location:
      input(type='text', name='location', value=fossil ? fossil.location : '')
    div
      button(type='submit') #{action === 'create' ? 'Add Fossil' : 'Update Fossil'}

  //- Button to cancel and go back to the fossil list
  a(href='/resource/fossils') Cancel
